# Ignore Python environment files
costumer_pred/bin/
costumer_pred/include/
costumer_pred/lib/
costumer_pred/lib64/
costumer_pred/pyvenv.cfg
costumer_pred/src/__pycache__/

# Ignore model files
costumer_pred/api/model.pkl

# Ignore compiled files
ChurnPredictionApp/bin/
ChurnPredictionApp/obj/

# Ignore VS Code settings
.vscode/

# Ignore temporary files
*.log
