# Python environment files and directories
costumer_pred/bin/
costumer_pred/lib/
costumer_pred/lib64/
costumer_pred/include/
costumer_pred/src/__pycache__/
costumer_pred/src/*.pyc
costumer_pred/src/*.pyo

# C# build files and directories
ChurnPredictionApp/bin/
ChurnPredictionApp/obj/

# Ignore log files
*.log

# Ignore user-specific IDE/editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variable files
.env
